<div class="container body-content row" id="divSearch">
  <div class="page-header">
    <h3>Registration</h3>
  </div>
  <div
    class="search-panel panel panel-default col-sm-3"
    style="border-top-left-radius:13px;border-top-right-radius:13px;"
  >
    <form name="REgistrationForm" role="form" class="form-horizontal" type="submit">
      <div class="input-group">
        <div class="input-group-addon">Patient UIN</div>
        <input class="form-control" id="uin" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Hospital UR</div>
        <input class="form-control" id="ur" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">First Name</div>
        <input class="form-control" id="fname" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Middle Initial</div>
        <input class="form-control" id="mid" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Last Name</div>
        <input class="form-control" id="lname" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Date of Birth</div>
        <input class="form-control" id="dob" />
      </div>
      <div class="input-group">
        <div class="input-group-addon" style="width:110px !important;">
          Estimated date of birth flag
        </div>
        <select
          class="form-control chosen-multiple"
          id="dbflag"
          multiple="multiple"
          name="projects"
          style="width:100px;"
        >
          <option value="">Please select ...</option>
          <option value="7">another very good project</option>
          <option value="3">Other</option>
          <option value="2">Test Project</option>
          <option value="4">Test Project1</option>
          <option value="9">Test Project2</option>
          <option value="10">Test Project2</option>
          <option value="8">The best project</option>
          <option value="6">Very good project</option>
          <option value="11">Yet another project</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-addon" style="width:110px !important;">
          Sex
        </div>
        <select
          class="form-control chosen-multiple"
          id="sex"
          multiple="multiple"
          name="projects"
          style="width:100px;"
        >
          <option value="">Please select ...</option>
          <option value="7">another very good project</option>
          <option value="3">Other</option>
          <option value="2">Test Project</option>
          <option value="4">Test Project1</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-addon">Medicare Number</div>
        <input class="form-control" id="medicare" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Postcode</div>
        <input class="form-control" id="postcode" />
      </div>
    </form>
  </div>
</div>;
