<div class="container footer-content">
  <hr />
  <div class="col-md-5" style="padding-left:0px !important;">
    <span style="text-decoration-color:lightgray;font-size:smaller;float:left !important;padding-left:0px">
      Funded and Supported by:&nbsp;&nbsp;&nbsp;
    </span>
    <img
      src="~/Content/img/WEHIlogofooter.png"
      style="height:50px;width:170px; margin:0;padding:0;float:left !important;"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div class="col-md-4">
    &copy; -
    <a href="http://www.biogrid.org.au" target="_blank">
      BioGrid Australia Ltd
    </a>
  </div>
  <div class="col-md-3">
    <span class="app_version float-right">Version 1.3.0</span>
  </div>
</div>
<div class="modal fade" id="timeout-alert" tabindex="-1" role="dialog" aria-labelledby="timeoutAlert" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              Warning
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
              <a id="btnLoginAgain" class="btn btn-danger btn-ok">Login again</a>
              <a id="btnExtendSession" class="btn btn-danger btn-ok" data-dismiss="modal">Extend Session</a>
          </div>
      </div>
  </div>
</div>

<input type="hidden" value="25" id="RCdbCookieTimeoutSeconds" />


<script type="text/javascript">

  $(function () {
      var CookieTimeoutSeconds = $('#RCdbCookieTimeoutSeconds').val();
      if (CookieTimeoutSeconds == '' || CookieTimeoutSeconds == undefined || CookieTimeoutSeconds == null) CookieTimeoutSeconds = '20';
      var CookieTimeoutSeconds = parseInt(CookieTimeoutSeconds);
      var counter = 0;
      var cookie = getCookie('.RCdbTimeOutAlertCookie');
      var countingCurrent = Date.parse(getCookieValue(cookie, "current"));
      var countingExpire = Date.parse(getCookieValue(cookie, "expire"));
      function checkServerScript() {
          if (document.cookie && document.cookie.indexOf('.RCdbTimeOutAlertCookie') != -1) {
              cookie = getCookie('.RCdbTimeOutAlertCookie');
              var serverCurrentTime = getCookieValue(cookie, "current");
              var cookieExpire = getCookieValue(cookie, "expire");
              var current = Date.parse(serverCurrentTime);
              var expire = Date.parse(cookieExpire);
              if (expire != countingExpire) {
                  counter = 0;
                  countingExpire = expire;
                  countingCurrent = current;
              }
              var countDown = Math.floor((countingExpire - countingCurrent) / 1000 - counter++);
              var warningText = "Your session will expire in <span style='color:red;font-size:120%;'>" + countDown + "</span> seconds. Please click 'Extend Session' button below to extend your session.";
              $('#btnExtendSession').removeClass('hidden');
              $('#btnLoginAgain').addClass('hidden');
              var processing = Math.round((countDown / CookieTimeoutSeconds) * 100);

              if (countDown <= 120) {
                  if (countDown <= 2) {
                      warningText = "Session has expired, click 'Login again' button to return to the Login page.";
                      $('#btnExtendSession').addClass('hidden');
                      $('#btnLoginAgain').removeClass('hidden');
                  }
                  if (localStorage.ExtendButtonClicked == true) {
                      $('#timeout-alert .modal-body').html('Extending session ...');
                  } else {
                      $('#timeout-alert .modal-body').html(warningText);
                  }


                  if (!$('#timeout-alert').hasClass('in')) {
                      $('#timeout-alert').modal('show');
                  }
                  $('#timeout-alert').find('#btnExtendSession').unbind('click');
                  $('#timeout-alert').find('#btnExtendSession').bind('click', function () {
                      localStorage.ExtendButtonClicked = true;
                      // extend session;
                      $.get('../Account/TriggerSlidingExpiration', function (data) {
                      });

                  });
                  if (countDown == 0) {
                      window.clearInterval(interval);
                  }
              } else {
                  if ($('#timeout-alert').hasClass('in')) {
                      $('#timeout-alert').modal('hide');
                      $('.modal-backdrop').remove();
                      localStorage.ExtendButtonClicked = false;
                  }
              }

          }
      }

      var interval = window.setInterval(checkServerScript, 1000);
  })
  function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
  }
  function getCookieValue(str, key) {
      var value = "&" + str;
      var parts = value.split("&" + key + "=");
      if (parts.length == 2) return parts.pop().split("&").shift();
  }
</script>