<div class="col-md-3">
    <ul class="main-content-menu nav nav-pills nav-stacked" role="tablist">
        <li><a data-toggle="pill" [routerLink]="['clinicians']" class="list-group-item">Clinician Management</a></li>
        <li><a data-toggle="pill" [routerLink]="['locations']" class="list-group-item">Location Management</a></li>
        <li><a data-toggle="pill" [routerLink]="['content']"  class="list-group-item">Content Management</a></li>
        <li><a data-toggle="pill" [routerLink]="['projects']" class="list-group-item" ng-click="getProjects()">Projects</a></li>
    </ul>
</div>
