<div
  class="container body-content row"
  ng-app="BGApp.Search"
  ng-controller="searchController"
  id="divSearch"
>
  <div class="page-header">
    <h3>Search patient</h3>
  </div>
  <div
    class="search-panel panel panel-default col-sm-3"
    style="border-top-left-radius:13px;border-top-right-radius:13px;"
  >
    <form
      name="SearchForm"
      role="form"
      class="form-horizontal"
      type="submit"
      ng-keyup="($event.keyCode == 13)?submitForm():return"
    >
      <div class="input-group">
        <div class="input-group-addon">Patient UIN</div>
        <input class="form-control" id="uin" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Last Name</div>
        <input class="form-control" id="lname" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">First Name</div>
        <input class="form-control" id="fname" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Date of Birth</div>
        <input class="form-control" id="dob" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Hospital</div>
        <input class="form-control" id="hospital" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Study Coordinator</div>
        <input class="form-control" id="coord" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Please enter reason for deleting/restoring patient</div>
        <input class="form-control" id="coord" />
      </div>
    </form>
  </div>
</div>;
