<div class="container body-content row" id="divSearch">
  <div class="page-header">
    <h3>Role</h3>
  </div>
  <div
    class="search-panel panel panel-default col-sm-3"
    style="border-top-left-radius:13px;border-top-right-radius:13px;"
  >
    <form name="RoleForm" role="form" class="form-horizontal" type="submit">
      <div class="input-group">
        <div class="input-group-addon" style="width:110px !important;">
          Role
        </div>
        <select
          class="form-control chosen-multiple"
          id="projects"
          multiple="multiple"
          name="projects"
          style="width:100px;"
        >
          <option value="">Please select ...</option>
          <option value="7">another very good project</option>
          <option value="3">Other</option>
          <option value="2">Test Project</option>
          <option value="4">Test Project1</option>
          <option value="9">Test Project2</option>
          <option value="10">Test Project2</option>
          <option value="8">The best project</option>
          <option value="6">Very good project</option>
          <option value="11">Yet another project</option>
        </select>
      </div>
    </form>
  </div>
</div>;
