<div id="div_patientDetails_content" title="">
  <div class="page-header" id="demographicsAndSummaryPageHeader" title="" style="margin-top: 30px;">
      <h1><small>Demographics and Summary</small></h1>
  </div>
  <div class="panel panel-default" style="border-top-left-radius:13px;border-top-right-radius:13px;" title="">
      <div class="panel-heading" title="">
          Patient Details
      </div>
      <div class="panel-body" title="">
          <table class="table-hover table table-condensed">
              <tbody>
                  <tr>
                      <td>UIN</td>
                      <td>
                        {{patient.patientUIN}}
                      </td>
                      <td> </td>
                      <td colspan="3"></td>
                  </tr>
                  <tr>
                      <td>Medicare Number</td>
                      <td>
                        {{patient.medicareNo}}
                      </td>
                      <td></td>
                      <td>Last name</td>
                      <td>
                        {{patient.lastName}}
                      </td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>First name</td>
                      <td>
                        {{patient.firstName}}
                      </td>
                      <td></td>
                      <td>Middle initial</td>
                      <td>
                        {{patient.middle}}
                      </td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>
                          <u>Date of birth</u>
                      <td>
                        {{patient.dob}}
                      </td>
                      <td></td>
                      <td><div title="">Gender </div></td>
                      <td>
                        {{patient.patientSex?.description}}
                      </td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="panel panel-default" style="border-top-left-radius:13px;border-top-right-radius:13px;" title="">
      <div class="panel-heading" title="">Treatment Location</div>
      <div class="panel-body" title="">
          <table class="table-hover table table-condensed">
              <tbody>
                  <tr>
                      <td>Primary enrolling Hospital</td>
                      <td>
                        {{patient.hospital}}
                      </td>
                      <td></td>
                      <td>Hospital UR</td>
                      <td>
                        {{patient.hospitalUR}}
                      </td>
                      <td></td>
                  </tr>

                  <tr>
                      <td>Consenting Clinician</td>
                      <td>
                        {{patient.doctor?.firstName}} {{patient.doctor?.lastName}}
                      </td>
                  </tr>
                  <tr>
                      <td>Name of study co-ordinator</td>
                      <td>
                        {{ patient.studyCoordinator }}
                      </td>
                      <td></td>
                      <td>Study co-ordinator phone</td>
                      <td>
                        {{ patient.studyCoordinatorPhone }}
                      </td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="panel panel-default" style="border-top-left-radius:13px;border-top-right-radius:13px;" title="">
      <div class="panel-heading" title="">Comments</div>
      <div class="panel-body" title="">
          <table class="table-hover table table-condensed">
              <tbody>
                  <tr>
                      <td>
                        {{ patient.comments }}
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="input-group">
  <button class="btn btn-default" (click)="showEdit(patient.patientId!)">Edit</button>
</div>
