<div class="container body-content row" id="divSearch">
  <div class="page-header">
    <h3>Treatment Location</h3>
  </div>
  <div
    class="search-panel panel panel-default col-sm-3"
    style="border-top-left-radius:13px;border-top-right-radius:13px;"
  >
    <form name="LocationForm" role="form" class="form-horizontal" type="submit">
      <div class="input-group">
        <div class="input-group-addon" style="width:110px !important;">
          Treatment Location
        </div>
        <select
          class="form-control chosen-multiple"
          id="treatment_loc"
          name="treatment_loc"
          style="width:100px;"
        >
          <option value="">Please select ...</option>
          <option value="7">another very good project</option>
          <option value="3">Other</option>
          <option value="2">Test Project</option>
          <option value="4">Test Project1</option>
          <option value="9">Test Project2</option>
          <option value="10">Test Project2</option>
          <option value="8">The best project</option>
          <option value="6">Very good project</option>
          <option value="11">Yet another project</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-addon">Hospital UR</div>
        <input class="form-control" id="hur" />
      </div>
      <div class="input-group">
        <div class="input-group-addon" style="width:110px !important;">
          Clinician
        </div>
        <select
          class="form-control chosen"
          id="clinician"
          name="clinician"
          style="width:100px;"
        >
          <option value="">Please select ...</option>
          <option value="7">another very good project</option>
          <option value="3">Other</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-addon">Type Institution</div>
        <input class="form-control" id="lname" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Name of study co-ordinator</div>
        <input class="form-control" id="study" />
      </div>
      <div class="input-group">
        <div class="input-group-addon">Study co-ordinator phone</div>
        <input class="form-control" id="study_phone" />
      </div>
    </form>
  </div>
</div>;
